.image img{
    width: 600px;
    height:650px;
    
}
.container{
    display:flex;
}

.margin{
    margin-right: 10px;
}
.button{
    padding-left: 100px;
    padding-right:100px;
    background-color: gray;
}
.rant{
    margin-right: 10px;
}
#calculate{
    padding-left: 80px;
    padding-right: 80px;
}
.flexible{
    margin-left: 100px;
    width: 100%;
    background-color: rgb(240, 228, 228);
    width: 600px;
        height: 650px;
}